<table>
<% var i; for (i=0; i < quizes.length; i++) { %>        
   <tr>
	<td class="tem">[<%= quizes[i].tema %>]</td>
   	<td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
   </tr> 
<% } %>
</table><p>

Buscar preguntas: <p>

<form method="get" action="/quizes/" >      
  <input type="text" name="buscar" value="escribe" />
  <input type="submit" value="Buscar">
</form> <p>

<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
