<table>
<% var i; for (i=0; i < quizes.length; i++) { %>        
   <tr>
	<td class="tem">[<%= quizes[i].tema %>]</td>
   	<td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
   </tr> 
<% } %>
</table><p>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>